body {
  background: linear-gradient(135deg, #020617, #0f172a);
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #020617;
  padding: 30px;
  border-radius: 16px;
  width: 280px;
  text-align: center;
  color: white;
  box-shadow: 0 0 20px rgba(34,197,94,0.3);
}

img {
  border-radius: 50%;
  margin-bottom: 15px;
}

.btn {
  display: block;
  margin-top: 12px;
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  background: #22c55e;
  color: black;
  font-weight: bold;
}

.wa { background: #25D366; }
.ig { background: #E1306C; }